[
  { epmdless, [
        {transport, tls},
        {listen_port, 17012},
        {ssl_dist_opt, [
          {server, [
            {cacertfile, "certs/ca.crt"},
            {certfile, "certs/server.crt"},
            {keyfile, "certs/server.key"},
            {verify, verify_peer}
            ]},
          {client, [
            {cacertfile, "certs/ca.crt"},
            {certfile, "certs/client.crt"},
            {keyfile, "certs/client.key"},
            {verify, verify_peer}
            ]}
          ]}
    ]
  }
].
